@using ChartJS.Helpers.MVC

@{
    ViewBag.Title = "Pdf";
}

<h2>This is a test page</h2>


<img src="https://picsum.photos/200/300" alt="Alternate Text" />


<table class="table">
    <thead>
        <tr>
            @for (int i = 0; i < 5; i++)
            {
                <th>Header @i</th>
            }
            <th>Link</th>
            <th dir="rtl" style="text-align:right">ِشقشلاهؤ</th>
        </tr>
    </thead>

    <tbody>
        @for (int i = 0; i < 100; i++)
        {
            <tr>
                @for (int j = 0; j < 5; j++)
                {
                    <td>Something</td>
                }
                <td><a href="http://code.highcharts.com/highcharts.js">Link</a></td>
                <td dir="rtl">@i بسببلسبلنت</td>
            </tr>
        }
    </tbody>
</table>




@Html.Raw(ViewBag.Test)



<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>


@using Highsoft.Web.Mvc.Charts

<script type="text/javascript">

    function formatYAxis() {
        return this.value;
    }

    function formatTooltip() {
        return '<b>' + this.series.name + '</b><br/>' +
            this.x + ': ' + this.y;
    }

</script>

<center>
    @(Html.Highsoft().GetHighcharts(
                    new Highcharts
                    {
                        Chart = new Highsoft.Web.Mvc.Charts.Chart
                        {
                            SpacingBottom = 30
                        },
                        Title = new Title
                        {
                            Text = "Fruit consumption *"
                        },
                        Subtitle = new Subtitle
                        {
                            Text = "* Jane\'s banana consumption is unknown",
                            Floating = true,
                            Align = SubtitleAlign.Right,
                            VerticalAlign = SubtitleVerticalAlign.Bottom,
                            Y = 15
                        },
                        Legend = new Legend
                        {
                            Layout = LegendLayout.Vertical,
                            Align = LegendAlign.Center,
                            VerticalAlign = LegendVerticalAlign.Top,
                            X = 150,
                            Y = 100,
                            Floating = true,
                            BorderWidth = 1,
                        },

                        XAxis = new List<XAxis>
                        {
    new XAxis
    {
        Categories = new List<string> { "Apples", "Pears", "Oranges", "Bananas", "Grapes", "Plums", "Strawberries", "Raspberries" }
    }
                        },
                        YAxis = new List<YAxis>
                        {
    new YAxis
    {
        Title = new YAxisTitle
        {
            Text = "Y-Axis"
        },
        Labels = new YAxisLabels
        {
            Formatter = "formatYAxis"
        }
    }
                        },
                        Tooltip = new Tooltip
                        {
                            Formatter = "formatTooltip"
                        },
                        PlotOptions = new PlotOptions
                        {
                            Area = new PlotOptionsArea
                            {
                                FillOpacity = 0.5
                            },
                            Series= new PlotOptionsSeries
                            {
                                Animation=null
                            }
                        },
                        Credits = new Credits
                        {
                            Enabled = false
                        },
                        Series = new List<Series>
                        {
    new AreaSeries
    {
        Name = "John",
        Data = @ViewData["johnData"] as List<AreaSeriesData>
    },
    new AreaSeries
    {
        Name = "Jane",
        Data = @ViewData["janeData"] as List<AreaSeriesData>
    }
                        },
                    }
                    , "chart")
    )
</center>